{% extends "base.html" %}
{% load static %}

{% block content %}

  <div id="index-banner">
    <div class="section no-pad-bot">
      <div class="container">
        <form action="" method="POST">
          {% csrf_token %}
        <h2 class="header center teal-text text-lighten-2">Explore new places</h2>
        <div class="row center">
          <h5 class="header col s12 light">Where will you go next?</h5>
          <div class="input-field col l11 s11">
            <i class="material-icons prefix">location_on</i>
            <input type="text" name="location" id="autocomplete-input" class="autocomplete">
            <label for="autocomplete-input">Next Destination</label>
          </div>
          <div class="input-field col l1 s1">
            <button class="btn waves-effect waves-light" type="submit">
              <i class="large material-icons">search</i>
            </button>
          </div>
        </div>
        </form>
        </div>
        <br><br>

      </div>
    </div>
  
  {% if results %}
  <div class="container">
  <center><h5 class="header col s12 light">{{ location.0.city }}</h5></center>
    <div class="row center">
      <div><img src="{% static 'images/' %}{{location.0.image}}" 
             width="100%" alt="Card one"></div>
        {% for obj in some_list %}
        <div class="col l4 m4 s12">
          <div class="card teal lighten-2">
            <div><img src="{% static 'images/' %}{{obj.image}}" 
             width="80%" alt="Card one"></div>
            <div class="card-content white-text">
              <span class="card-title">{{obj.attractionName}}</span>
              <p>{{obj.attractionDescription}}</p>
            </div>

<!--             <div class="card-action">
              <a href="#">Book Now</a>
            </div> -->
          </div>
          </div>
        {% endfor %}
    </div> 
  </div>
  {% else %}
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Take the time to put the camera away and gaze in wonder at what’s there in front of you. </h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'images/explore2.png' %}" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

    <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">camera</i></h2>
            

            <p class="light" style="text-align: center;">Man cannot discover new oceans unless he has the courage to lose sight of the shore.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">insights</i></h2>
            

            <p class="light" style="text-align: center;">Go, fly, roam, travel, voyage, explore, journey, discover, adventure.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">cloud</i></h2>
            

            <p class="light" style="text-align: center;">The gladdest moment in human life is a departure into unknown lands.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  {% endif %}

{% endblock content %}