{% extends "base.html" %}
{% load static %}

{% block content %}

  <div id="index-banner">
    <div class="section no-pad-bot">
      <div class="container">
        <form action="" method="POST">
        {% csrf_token %}
        <div class="row center">
          <h5 class="header col s12 light">Find your travel accommodations</h5>
        <div class="input-field col l6 s12">
          <i class="material-icons prefix">hotel</i>
          <input type="text" name="location" id="autocomplete-input" class="autocomplete">
          <label for="autocomplete-input">Location</label>
        </div>
        <div class="input-field col l3 s6">
          <i class="material-icons prefix">date_range</i>
          <input type="text" name="startdate" class="datepicker">
        </div>
        <div class="input-field col l3 s6">
          <i class="material-icons prefix">date_range</i>
          <input type="text" name="enddate" class="datepicker">
        </div>

        </div>
        <div class="row center">
          <button class="btn waves-effect waves-light" style="width: 300px" type="submit">
              <i class="large material-icons">search</i>
            </button>
        </div>
        </form>

        <br><br>

      </div>
    </div>
  </div>

  {% if results %}
  <div class="row center">
      <div class="col s12 m12">
        {% for obj in some_list %}
          <div class="card teal lighten-2">
            <div class="card-content white-text">
              <span class="card-title">{{obj.companyName}}</span>
              <p>{{obj.address}}</p>
              <p>{{obj.startDate}}</p>
              <p>{{obj.dailyCost}}</p>
            </div>
            {% if request.session.current_user %} 
            <div class="card-action">
              <a href="{% url 'book' %}?type=hotel&id={{obj.id}}">Book Now</a>
            </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div> 
  {% else %}
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">The world is a book and those who do not travel read only a page.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'images/bg2.png' %}" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

    <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">camera</i></h2>
            

            <p class="light" style="text-align: center;">Man cannot discover new oceans unless he has the courage to lose sight of the shore.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">insights</i></h2>
            

            <p class="light" style="text-align: center;">Go, fly, roam, travel, voyage, explore, journey, discover, adventure.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">cloud</i></h2>
            

            <p class="light" style="text-align: center;">The gladdest moment in human life is a departure into unknown lands.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  {% endif %}

{% endblock content %}